USE [master]
GO
/****** Object:  Database [qlvemaybay]    Script Date: 10/7/2017 9:12:06 PM ******/
CREATE DATABASE [qlvemaybay]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'qlvemaybay', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\qlvemaybay.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'qlvemaybay_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\qlvemaybay_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [qlvemaybay].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [qlvemaybay]
GO
/****** Object:  Table [dbo].[ChuyenBay]    Script Date: 10/7/2017 9:12:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenBay](
	[MaCB] [int] IDENTITY(1,1) NOT NULL,
	[NgayDi] [date] NULL,
	[NgayDen] [date] NULL,
	[SLHKHT] [int] NULL,
	[SLHKTD] [int] NULL,
	[MaTB] [nchar](10) NULL,
 CONSTRAINT [PK_ChuyenBay] PRIMARY KEY CLUSTERED 
(
	[MaCB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DiaDiem]    Script Date: 10/7/2017 9:12:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaDiem](
	[MaDD] [nchar](10) NOT NULL,
	[TenDD] [nvarchar](50) NULL,
	[TenSB] [nvarchar](50) NULL,
 CONSTRAINT [PK_Điaiem] PRIMARY KEY CLUSTERED 
(
	[MaDD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DonHang]    Script Date: 10/7/2017 9:12:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonHang](
	[Email] [nvarchar](50) NOT NULL,
	[NgayTao] [datetime] NOT NULL,
	[TrangThai] [nvarchar](50) NULL,
	[MaCB] [nchar](10) NOT NULL,
	[Gia] [int] NULL,
	[CMND] [nchar](12) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HangHangKhong]    Script Date: 10/7/2017 9:12:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangHangKhong](
	[MaHHK] [nvarchar](50) NOT NULL,
	[TenHHK] [nvarchar](50) NULL,
 CONSTRAINT [PK_HangHangKhong] PRIMARY KEY CLUSTERED 
(
	[MaHHK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoanNganHang]    Script Date: 10/7/2017 9:12:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanNganHang](
	[SoTaiKhoan] [nchar](13) NULL,
	[MatKhau] [nchar](6) NULL,
	[Tien] [int] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoanUser]    Script Date: 10/7/2017 9:12:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoanUser](
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NULL,
	[HoTen] [nvarchar](50) NULL,
	[GioiTinh] [nvarchar](50) NULL,
	[CMND] [nchar](12) NULL,
	[SDT] [nchar](11) NULL,
	[DiaChi] [nvarchar](100) NULL,
 CONSTRAINT [PK_TaiKhoanUser] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ThongTinHanhKhach]    Script Date: 10/7/2017 9:12:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongTinHanhKhach](
	[HoTen] [nvarchar](50) NULL,
	[CMND] [nchar](12) NOT NULL,
	[SDT] [nchar](11) NULL,
	[HanhLy] [int] NULL,
	[LoaiVe] [nvarchar](50) NULL,
	[MaCB] [int] NOT NULL,
	[DiaChi] [nvarchar](50) NULL,
 CONSTRAINT [PK_ThongTinHanhKhach_1] PRIMARY KEY CLUSTERED 
(
	[CMND] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TuyenBay]    Script Date: 10/7/2017 9:12:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TuyenBay](
	[MaTB] [nchar](10) NOT NULL,
	[MaDi] [nchar](10) NULL,
	[MaDen] [nchar](10) NULL,
	[GioDi] [time](0) NULL,
	[GioDen] [time](0) NULL,
	[MaHHK] [nvarchar](50) NULL,
	[GiaThuong] [nchar](10) NULL,
	[GiaVIP] [nchar](10) NULL,
 CONSTRAINT [PK_TuyenBay] PRIMARY KEY CLUSTERED 
(
	[MaTB] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[ChuyenBay] ON 

INSERT [dbo].[ChuyenBay] ([MaCB], [NgayDi], [NgayDen], [SLHKHT], [SLHKTD], [MaTB]) VALUES (1, CAST(N'2017-10-20' AS Date), CAST(N'2017-10-20' AS Date), 150, 0, N'HNADADVJ1 ')
INSERT [dbo].[ChuyenBay] ([MaCB], [NgayDi], [NgayDen], [SLHKHT], [SLHKTD], [MaTB]) VALUES (2, CAST(N'2017-10-21' AS Date), CAST(N'2017-10-21' AS Date), 150, 0, N'HNADADVJ1 ')
SET IDENTITY_INSERT [dbo].[ChuyenBay] OFF
INSERT [dbo].[DiaDiem] ([MaDD], [TenDD], [TenSB]) VALUES (N'BMV       ', N'DakLak', N'Buôn Ma Thuật')
INSERT [dbo].[DiaDiem] ([MaDD], [TenDD], [TenSB]) VALUES (N'CXR       ', N'Khánh Hòa', N'Cam Ranh')
INSERT [dbo].[DiaDiem] ([MaDD], [TenDD], [TenSB]) VALUES (N'DAD       ', N'Đà Nẵng', N'Đà Nẵng')
INSERT [dbo].[DonHang] ([Email], [NgayTao], [TrangThai], [MaCB], [Gia], [CMND]) VALUES (N'hhoangna@gmail.com', CAST(N'2017-09-27 11:23:46.000' AS DateTime), N'Chưa thanh toán', N'VNA275    ', 1778900, N'201462596   ')
INSERT [dbo].[DonHang] ([Email], [NgayTao], [TrangThai], [MaCB], [Gia], [CMND]) VALUES (N'hhoangna@gmail.com', CAST(N'2017-09-27 11:23:58.000' AS DateTime), N'Chưa thanh toán', N'VNA275    ', 1778900, N'201462596   ')
INSERT [dbo].[DonHang] ([Email], [NgayTao], [TrangThai], [MaCB], [Gia], [CMND]) VALUES (N'hhoangna@gmail.com', CAST(N'2017-09-27 11:25:25.000' AS DateTime), N'Chưa thanh toán', N'VNA275    ', 1778900, N'201462596   ')
INSERT [dbo].[HangHangKhong] ([MaHHK], [TenHHK]) VALUES (N'BL', N'Jetstar Pacific')
INSERT [dbo].[HangHangKhong] ([MaHHK], [TenHHK]) VALUES (N'VJ', N'Vietjet Air')
INSERT [dbo].[HangHangKhong] ([MaHHK], [TenHHK]) VALUES (N'VNA', N'Vietnam Airline')
INSERT [dbo].[TaiKhoanUser] ([Email], [Password], [HoTen], [GioiTinh], [CMND], [SDT], [DiaChi]) VALUES (N'hhoangna@gmail.com', N'123456A', N'Huy Hoàng', N'Nam', N'187604428   ', N'1629799774 ', N'Quận 9, Hồ Chí Minh')
INSERT [dbo].[TaiKhoanUser] ([Email], [Password], [HoTen], [GioiTinh], [CMND], [SDT], [DiaChi]) VALUES (N'nhatanh@gmail.com', N'123456A', N'Nhật Anh', N'Nữ', N'123456123   ', N'0123412413 ', N'Quảng Trị')
INSERT [dbo].[TuyenBay] ([MaTB], [MaDi], [MaDen], [GioDi], [GioDen], [MaHHK], [GiaThuong], [GiaVIP]) VALUES (N'HNABMVBL2 ', N'HNA       ', N'BMV       ', CAST(N'15:20:00' AS Time), CAST(N'16:20:00' AS Time), N'BL', N'7890000   ', N'879000    ')
INSERT [dbo].[TuyenBay] ([MaTB], [MaDi], [MaDen], [GioDi], [GioDen], [MaHHK], [GiaThuong], [GiaVIP]) VALUES (N'HNABMVVBL1', N'HNA       ', N'BMV       ', CAST(N'20:25:00' AS Time), CAST(N'21:25:00' AS Time), N'BL', N'765000    ', N'876000    ')
INSERT [dbo].[TuyenBay] ([MaTB], [MaDi], [MaDen], [GioDi], [GioDen], [MaHHK], [GiaThuong], [GiaVIP]) VALUES (N'HNABMVVJ1 ', N'HNA       ', N'BMV       ', CAST(N'10:00:00' AS Time), CAST(N'11:00:00' AS Time), N'VJ', N'675000    ', N'780000    ')
ALTER TABLE [dbo].[DonHang]  WITH CHECK ADD  CONSTRAINT [FK_DonHang_TaiKhoanUser] FOREIGN KEY([Email])
REFERENCES [dbo].[TaiKhoanUser] ([Email])
GO
ALTER TABLE [dbo].[DonHang] CHECK CONSTRAINT [FK_DonHang_TaiKhoanUser]
GO
ALTER TABLE [dbo].[TuyenBay]  WITH CHECK ADD  CONSTRAINT [FK_TuyenBay_DiaDiem1] FOREIGN KEY([MaDi])
REFERENCES [dbo].[DiaDiem] ([MaDD])
GO
ALTER TABLE [dbo].[TuyenBay] CHECK CONSTRAINT [FK_TuyenBay_DiaDiem1]
GO
ALTER TABLE [dbo].[TuyenBay]  WITH CHECK ADD  CONSTRAINT [FK_TuyenBay_HangHangKhong] FOREIGN KEY([MaHHK])
REFERENCES [dbo].[HangHangKhong] ([MaHHK])
GO
ALTER TABLE [dbo].[TuyenBay] CHECK CONSTRAINT [FK_TuyenBay_HangHangKhong]
GO
/****** Object:  StoredProcedure [dbo].[trutien]    Script Date: 10/7/2017 9:12:06 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[trutien]
@sotaikhoan nchar(13),
@matkhau nchar(6),
@sotien int
as
begin
update TaiKhoanNganHang set Tien=(Tien -@sotien) where SoTaiKhoan=@sotaikhoan and MatKhau=@matkhau
end


GO
USE [master]
GO
